# Domain & Traefik Routing
APP_DOMAIN=
JENKINS_DOMAIN=
JENKINS_AGENT_PORT=

# Docker Registry & Images
DOCKER_REGISTRY=
IMAGE_TAG=
BACKEND_IMAGE=
FRONTEND_IMAGE=

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_NAME=

# Application Security
JWT_SECRET=

# Monitoring Configuration (Prometheus & Grafana)
PROMETHEUS_RETENTION_TIME=
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=
GF_USERS_ALLOW_SIGN_UP=
GRAFANA_PATH_PREFIX=
